
 .homepage-container {
  display: flex;
  height: 100vh;
 }
 
 .left-side {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
 }
 
 .logo-container {
  text-align: center;
 }
 
 .logo {
  font-size: 80px;
  font-weight: bold;
  color: #2B579A;
 }
 
 .sub-text {
  font-size: 25px;
  font-weight: bold;
  color: #2B579A;
  display: flex;
  align-items: center;
 }
 
 .template-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  padding: 20px;
 }
 
 .right-side {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
 }
 
 .folder-list {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
 }
 
 .folder-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
 }
 
 .folder-header span {
  flex: 1;
 }
 
 .folder-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
 }
 
 .folder-item:hover {
  background-color: #f0f0f0;
 }
 
 .folder-icon,
 .file-icon {
  margin-right: 8px;
 }
 
 .content-name {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
 }
 
 .created-date {
  flex: 0.8; /* Adjusted to reduce space */
 }
 
 .avatar-logo {
  flex: 0.2; /* Adjusted to reduce space */
  text-align: right;
 }
 
 .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  object-fit: cover;
 }
 
 .user-info {
  display: flex;
  align-items: center;
  margin-top: 450px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
 }
 
 .avatar-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: #212529;
  font-family: 'Inter';
 }
 
 .user-name {
  font-weight: bold;
 }
 